.btn-domaine button{
    color: #C23028 !important;
    font-size: 25px;
}
.btn-domaine button:hover{
    scale: 1.5;

}
.text-domaine{
    color: #C23028;
    text-transform: capitalize;
    font-weight: bold;
}
.add-domaine{
    background-color: #C23028;
    color: white;
}
.add-domaine:hover{
    color: #C23028;
    border: 2px solid #C23028;
}
.card-domaine{
    box-shadow: 5px 3px 15px rgba(128, 128, 128, 0.267);
    border: none;
}