/* partie eleve */
tr {
  vertical-align: middle;
}

.img {
  width: 55px;
  border-radius: 50%;
}


.input {
  width: 30%;
}

.icons1 {
  color: #F6B339;
}

.icons2 {
  color: #D7572B;
}

.icons3 {
  color: #C23028;
}



@media screen and (max-width: 576px) {
  .ajoutEleve {
    justify-content: right;
    display: flex;
  }

  .input {
    margin-top: 15px;
  }
}


/* MAMA */
/* .prev1 {
  border: 1px solid #C23028;
}
.prev1:hover {
  border: 1px solid #C23028;
}
.prev {
  background: linear-gradient(to right, #C23028 0%, #D7572B 50%, #F6B339 100%);
  color: white;
} */
/* .prev:hover {
  border: 1px solid #C23028;
  background-color: transparent !important;
  transform: scale(0.9);
} */


.pagination .active a {
  background-color: #D7572B;
  border-color: #D7572B;
  color: white !important;
}
.pagination .prev a,
.pagination .next a {
  background-color: transparent;
  border-color: #D7572B;
}
.dropdown-toggle{
  border-color: #D7572B;
}
.dropdown-toggle:hover{
  background: linear-gradient(to right, #C23028 0%, #D7572B 50%, #F6B339 100%);
  color: white !important;
}

/* MAMA */
