@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

body {
 
  background-image: "url('https://i.ibb.co/MkvLDfb/Rectangle-4389.png')" !important;

  font-family: "Open Sans", sans-serif;
  font-size:'14px' !important;
  
}


